@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

.containerCards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  background: rgb(56, 56, 56);
  box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4);
  border-radius: 5px;
  max-width: 600px;
  border: blue solid;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 1rem;
  left: 0;
  right: 0;
  margin-bottom: 40px;
  border-top: 5px solid blue;
  animation: bounce 1.5s infinite;
  height: fit-content;
}

.card {
  width: 100%;
  background-color: rgb(246, 194, 164);
  text-align: center;
  border-radius: 5px;
  height: fit-content;
}

.image {
  width: 60%;
}

.name {
  color: blue;
  font-size: 3rem;
  margin-top: 0.5rem;
  margin-bottom: 5px;
}

.p {
  color: blue;
  font-size: 1rem;
  margin: 0px 0px 0px 20px;
  text-align: left;
  font-family: 'Arvo';
}

.p2 {
  color: blue;
  font-size: 1rem;
  margin: 0px 0px 0px 20px;
  padding: 0px 0px 0px 20px;
  text-align: left;
  font-family: 'Arvo';
}

.span {
  color: black;
  font-weight: bold;
}

.button {
  background-color: #3151d1;
  border: none;
  color: #ffffff;
  font-weight: bold;
  outline: none;
  padding: 12px 40px 10px;
  position: relative;
  margin-top: 10%;
}

.button:before,
.button:after {
  border: 0 solid transparent;
  transition: all 0.3s;
  content: '';
  height: 0;
  position: absolute;
  width: 24px;
}

.button:before {
  border-top: 2px solid #263059;
  right: 0;
  top: -4px;
}

.button:after {
  border-bottom: 2px solid #263059;
  bottom: -4px;
  left: 0;
}

.button:hover:before,
.button:hover:after {
  width: 100%;
}
